<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/prerequisite.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/userdash.css">
    <title>Login</title>
    <script src="../js/bloodbankdash.js" defer></script>
</head>
<body>
    <nav>
      <div class="nav-container">
        <a href="../"><div class="logo-container">
          <div class="logo"></div>
          <h1>Blood Care</h1>
        </div>
        </a>
        <ul class="primary-nav-items">
          <li><a href="/logout"><button>Logout</button></a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
        <h1>Welcome {{ user }}</h1>
        <div id="list" class="list">
          {{#each result}}
          <div class="content">
            <div class="name">{{this.Name}}</div>
            <div class="email">{{this.Email}}</div>
            <div class="grp">{{this.Bgroup}}</div>
            <div class="no">{{this.PhNo}}</div>
          </div>
          {{/each}}
        </div>
      </div>
    </main>
</body>
</html>